body{
    height:100%;
    background-color: #D6DAF0;
    color: black;
    background-image:url(https://i.kym-cdn.com/photos/images/original/000/985/592/ee7.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    
} /*linear-gradient(to right, #8fc57e , #ABD6DF)*/
#heading{
    text-align: center;
    color:black;
}
.sub{
    text-align: center;
    color:black;
}
.table th,td{
    border: 1.5px solid black;
    width: auto;
    padding:10px;
    
}
.table{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}
a:hover{
 color: #ABD6DF;
}
a:link{
    color: rgb(0, 0, 0);
   }
a:visited{
    color: blue;
   }
